<div>
    <div class="frow align-center" [style.display]="(item) ? 'flex' : 'none'">
      <autoform-form *ngIf="!disableSearch" [formData]="searchBarForm"></autoform-form>
      <span class="spacer"></span>
      <button mat-icon-button addToDashboard [dashboardItem]="item">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div>
      <div #scroller appPreventParentScroll  class="container">
        <ul>
        <li *ngFor="let p of logs | async; let i = index" class="animated lightSpeedIn">
            {{ p }}
        </li>
        </ul>
        <div *ngIf="isLoadingMoreEvent && !endOfLogs">
          <span>............ LOADING .............</span>
        </div>
      </div>
    </div>
</div>
