<div class="fcol full">
    <mat-toolbar>
        <h1>Virtual Relays</h1>
        <span></span>
        <span class="spacer"></span>
        <mat-chip-list>
            <mat-chip (click)="add()"> <mat-icon>add</mat-icon> </mat-chip>
        </mat-chip-list>
    </mat-toolbar>

    <div>
        <app-dashboard-panel
            class="table-dashboard-panel"
            [static]="true"
            [panel]="panelTable"
        ></app-dashboard-panel>
    </div>

    <div>
        <app-dashboard-panel
            class="items-dashboard-panel"
           [static]="true"
           [panel]="panelControls$ | async"
        ></app-dashboard-panel>
    </div>

</div>
