/* You can add global styles to this file, and also import other style files */

@import '~@berlingoqc/fuse-extra/scss/portal';
@import '~@berlingoqc/fuse-extra/scss/splash';

@import 'src/scss/growbe.theme';

#login {
    background-size: cover !important;
}

.content-center {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pulsing {
    animation-iteration-count: 1;
    animation: pulse 1.5s;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        opacity: 1;
        color: black;
    }
    50% {
        opacity: 0.3;
        color: orange;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

.full {
    width: 100%;
}
.half {
  width: 50%;
}
.frow {
    display: flex;
    flex-direction: row;
}
.evenly {
  justify-content: space-evenly;
}
.fcol {
    display: flex;
    flex-direction: column;
}
.jend {
    justify-content: flex-end;
}

.ipad {
    padding: 10px;
}

.grid {
    display: grid;
}
