/* You can add global styles to this file, and also import other style files */

@import 'node_modules/@berlingoqc/fuse-extra/scss/portal';
@import 'node_modules/@berlingoqc/fuse-extra/scss/splash';
@import 'node_modules/@berlingoqc/fuse/scss/fuse';

@import 'src/scss/growbe.theme';

#login {
    background-size: cover !important;
}

alb-admin-page {
  width: 100%;
}

.content-center {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pulsing {
    animation-iteration-count: 1;
    animation: pulse 1.5s;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        opacity: 1;
        color: black;
    }
    50% {
        opacity: 0.3;
        color: orange;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

.flex {
  display: flex;
}

.full {
  width: 100%;
}
.hull {
  height: 100%;
}
.half {
  width: 50%;
}
.quarter {
  width: 25%;
}
.third {
  width: 33%;
}
.frow {
    display: flex;
    flex-direction: row;
}
.evenly {
  justify-content: space-evenly;
}
.fcol {
    display: flex;
    flex-direction: column;
}
.jend {
    justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.ipad {
    padding: 10px;
}

.container-2 {
  padding-bottom: 0px;
}

.pad {
  padding-left: 5px;
  padding-right: 5px;
}

.grid {
    display: grid;
}

.spacer {
  flex-grow: 2;
}

.wrap {
  flex-wrap: wrap;
}

  .center {
    .header {
      height: unset !important;
      min-height: unset !important;
      max-height: unset !important;
    }
  }

  .sidebar-toggle {
    padding-right: 20px !important;
  }



.mat-loading .mat-button-wrapper {
  visibility: hidden;
}

.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.truc {
  width: 100%;

  .button-row {
      width: 100%;
     div {
          width: 100%;
          margin-bottom: 10px;

          button {
            width: 100%;
          }
    }
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    button {
      min-width: 40% !important;
    }
  }
}

.table-scroll-x {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: block;
}



.auto-form-dialog {

  .mat-dialog-content {
    max-height: 88vh !important;
  }

}


@media (max-width: 600px) {
  .auto-form-dialog {
    max-width: 100% !important;
  }
}


// replacement for flex-layout

.fhide {
  display: none;
}

@include media-breakpoint('gt-md') {
  .fhide-gt-md {
    display: none;
  }
}

.f {
  display: flex;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.fstartcenter {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.fstartend {
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.fcentercenter {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ffull {
  display: flex;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.fgrow {
  flex-grow: 1;
}

.f01auto {
  display: flex;
  flex: 0 1 auto;
}

.f10auto {
  display: flex;
  flex: 1 0 auto;
}

.f00auto {
  display: flex;
  flex: 0 0 auto;
}

.fwrap {
  flex-wrap: wrap;
}




