    <mat-toolbar>
        <h1>Streams</h1>
        <span></span>
        <span class="spacer"></span>
        <mat-chip-listbox>
            <mat-chip-option (click)="autoFormDialogService.open(newEditFormData)"> <mat-icon>add</mat-icon> </mat-chip-option>
        </mat-chip-listbox>
    </mat-toolbar>
<ngx-autotable
    *ngIf="source"
    [columns]="columns"
    [source]="source"
></ngx-autotable>

<ng-template #launch let-context="context">
    <button
        mat-stroked-button
        [class]="context.active ? 'accent' : 'inactiveStream'"
        [disabled]="!context.active"
        (click)="streamSelected.next(context)"
    >
        {{ context.active ? 'Lancer' : 'Hors connexion' }}
    </button>
</ng-template>
