<ng-container *ngIf="streams">
  <div class="video-container" *ngIf="showMultiple; else single">
    <app-video-player *ngFor="let url of streamsURL" [url]="url" [mute]="mute"></app-video-player>
  </div>
  <ng-template #single>
    <div class="multi-stream-bar" *ngIf="streamsURL.length > 1">
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let stream of streams; index as i" [selected]="i === currentIndex" (click)="currentIndex = i">
          {{stream.streamName}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="video-container">
      <app-video-player [url]="streamsURL[currentIndex]" [mute]="mute"></app-video-player>
    </div>
  </ng-template>

</ng-container>
