<project-dashboard *ngIf="data$ | async as data">
    <fuseLayoutHeader>
        <div class="frow align-center wrap">
            <span class="mat-headline-4 my-0 my-sm-24 welcome-message"
                [@animate]="{ value: '*', params: { x: '50px' } }">
                {{ data.mainboard.name }}
            </span>

            <div style="flex-grow: 2"></div>

            <div fxHide.gt-md>
                <app-growbe-state [growbeId]="data.mainboard.id"></app-growbe-state>
            </div>
        </div>
    </fuseLayoutHeader>
    <fuseLayoutContent>
        <mat-tab-group #tabgroup [(selectedIndex)]="currentIndex" matTabsRouting>
            <mat-tab>
              <ng-template mat-tab-label>
                  <ng-container *ngTemplateOutlet="headercontent; context: {i: 0}"></ng-container>
              </ng-template>
                <mat-toolbar>
                    <h1>Modules</h1>
                    <div class="spacer"></div>
                    <mat-chip-listbox>
                      <mat-chip-option *ngFor="let board of mainboard.boards">
                        {{board.imple}}
                      </mat-chip-option>
                    </mat-chip-listbox>
                </mat-toolbar>
                <ng-template #status let-context="context">
                    <app-module-status-dot style="display: inline-block; width: fit-content" [matTooltip]="context.updatedAt | date: 'H:mm dd/LL'" [mainboardId]="data.mainboard.id" [module]="context"></app-module-status-dot>
                </ng-template>

                <ng-template #moduleOptions let-context="context">
                    <div class="frow">
                        <div class="padding-right">
                            <button mat-mini-fab color="primary" [routerLink]="[
                            '/',
                            'growbe',
                            context.mainboardId,
                            'module',
                            context.id
                        ]">
                                <mat-icon>dashboard</mat-icon>
                            </button>
                        </div>

                        <div>
                            <button mat-mini-fab color="accent" (click)="deleteModule(context.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>

                <ngx-autotable [disablePaginator]="true" [updateEmitter]="emitterMainboardChange" [orderBy]="moduleOrderBy" [columns]="
                        moduleColumns
                            | appendArray
                                : [
                                      {
                                          id: 'status',
                                          title: 'Status',
                                          content: {
                                              type: 'template',
                                              content: status
                                          }
                                      },
                                      {
                                          id: 'options',
                                          title: 'Options',
                                          content: {
                                              type: 'template',
                                              content: moduleOptions
                                          }
                                      }
                                  ]
                    " [where]="data.moduleWhere" [includes]="moduleIncludes" [source]="moduleAPI">
                </ngx-autotable>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <ng-container *ngTemplateOutlet="headercontent; context: {i: 1}"></ng-container>
              </ng-template>

              <lazy-load-container>
                <ng-template #body>
                  <mat-toolbar>
                      <h1>Commandes</h1>
                  </mat-toolbar>
                  <ngx-autotable [updateEmitter]="emitterMainboardChange" [columns]="actionsColumns"
                    [source]="actionsSource"></ngx-autotable>
                </ng-template>
              </lazy-load-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  <ng-container *ngTemplateOutlet="headercontent; context: {i: 2}"></ng-container>
              </ng-template>
              <lazy-load-container>
                <ng-template #body>
                  <app-virtual-relay-dashboard [growbeId]="data.mainboard.id"></app-virtual-relay-dashboard>
                </ng-template>
              </lazy-load-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  <ng-container *ngTemplateOutlet="headercontent; context: {i: 3}"></ng-container>
              </ng-template>
              <lazy-load-container>
              <ng-template #body>
                <mat-toolbar>
                    <h1>Parameters</h1>
                </mat-toolbar>
                <div class="form-parameters">
                  <mat-accordion multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Mainboard Information</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                      <autoform-form [formData]="detailMainboardForm">
                      </autoform-form>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Mainboard Cloud Configuration</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                      <autoform-form *ngIf="cloudMainboardForm" [formData]="cloudMainboardForm">
                      </autoform-form>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Mainboard process settings</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                       <autoform-form *ngIf="processMainboardForm" [formData]="processMainboardForm">
                      </autoform-form>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Mainboard image config</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>

                      <p>
                      To download the image itselft and for tutorial on how to setup your
                      device please visit the <a href="https://doc.growbe.ca/docs/mainboard/configuration/">the documentation</a>
                      </p>

                      <autoform-form [formData]="imageConfigForm"></autoform-form>

                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-template>
              </lazy-load-container>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  <ng-container *ngTemplateOutlet="headercontent; context: {i: 4}"></ng-container>
              </ng-template>

              <lazy-load-container>
              <ng-template #body>
                <mat-toolbar>
                    <h1>Logs</h1>
                    <span class="spacer"></span>
                    <mat-chip-listbox>
                      <mat-chip-option [selected]="type_log == 'cloud'" (click)="type_log = 'cloud'">Cloud logs</mat-chip-option>
                      <mat-chip-option [selected]="type_log == 'device'" (click)="type_log = 'device'">Device logs</mat-chip-option>
                    </mat-chip-listbox>
                </mat-toolbar>
                <app-terminal *ngIf="type_log === 'cloud'" [growbeId]="data.mainboard.id" typeLog="cloud"></app-terminal>
                <app-terminal *ngIf="type_log === 'device'" [growbeId]="data.mainboard.id" typeLog="device"></app-terminal>
              </ng-template>
              </lazy-load-container>
            </mat-tab>
            <mat-tab *ngIf="mainboardAPI.hasFeature('nms')">
              <ng-template mat-tab-label>
                  <ng-container *ngTemplateOutlet="headercontent; context: {i: 5}"></ng-container>
              </ng-template>
              <lazy-load-container>
              <ng-template #body>
                <app-video-stream-page [growbeId]="data.mainboard.id"></app-video-stream-page>
              </ng-template>
              </lazy-load-container>
            </mat-tab>
        </mat-tab-group>
    </fuseLayoutContent>

    <fuseLayoutSidebar>

        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
            <div class="fuse-widget-front">
                <div>
                    <app-growbe-state [growbeId]="data.mainboard.id"></app-growbe-state>
                </div>
            </div>
        </fuse-widget>
        <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
            <div class="fuse-widget-front">
                <div>
                    <app-growbe-local-connection *ngIf="data.mainboard.growbeMainboardConfig?.localConnection"
                        [localConnection]="data.mainboard.growbeMainboardConfig.localConnection">
                    </app-growbe-local-connection>
                </div>
            </div>
        </fuse-widget>


        <div class="side-bar-options">
            <div *ngFor="let option of options; index as i">
                <a href="javascript: void(0);" (click)="tabgroup.selectedIndex = i; closeSideBar()" [ngClass]="{ 'selected': i == currentIndex}">
                    {{option.name}}
                </a>
            </div>
        </div>

    </fuseLayoutSidebar>
</project-dashboard>

<ng-template #headercontent let-i="i">
    <mat-icon>{{options[i].icon}}</mat-icon>
    <div class="mat-tab-header">{{options[i].name}}</div>
</ng-template>
