<project-dashboard *ngIf="data$ | async as data">
    <fuseLayoutHeader>
        <div class="frow align-center wrap">
            <span
                class="mat-display-1 my-0 my-sm-24 welcome-message"
                [@animate]="{ value: '*', params: { x: '50px' } }"
            >
                {{ data.mainboard.name }}
            </span>

            <div style="flex-grow: 2"></div>

            <div fxHide.gt-md>
                <app-growbe-state [growbe]="data.mainboard"></app-growbe-state>
            </div>
        </div>
    </fuseLayoutHeader>
    <fuseLayoutContent>
        <mat-tab-group class="ipad" matTabsRouting>
            <mat-tab label="Modules">
                <ng-template #status let-context="context">
                    <app-module-status-dot
                        [moduleId]="context.id"
                    ></app-module-status-dot>
                </ng-template>

                <ng-template #moduleOptions let-context="context">
                    <button
                        mat-stroked-button
                        color="primary"
                        [routerLink]="[
                            '/',
                            'growbe',
                            context.mainboardId,
                            'module',
                            context.id
                        ]"
                    >
                        Dashboard
                    </button>

                    <button
                      mat-stroked-button
                      color="accent"
                      (click)="deleteModule(context.id)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                </ng-template>

                <ngx-autotable
                    [updateEmitter]="emitterMainboardChange"
                    [columns]="
                        moduleColumns
                            | appendArray
                                : [
                                      {
                                          id: 'status',
                                          title: 'Status',
                                          content: {
                                              type: 'template',
                                              content: status
                                          }
                                      },
                                      {
                                          id: 'options',
                                          title: 'Options',
                                          content: {
                                              type: 'template',
                                              content: moduleOptions
                                          }
                                      }
                                  ]
                    "
                    [where]="data.moduleWhere"
                    [includes]="data.moduleIncludes"
                    [source]="moduleAPI"
                >
                </ngx-autotable>
            </mat-tab>
            <mat-tab label="Virtual Relay">
                <app-virtual-relay-dashboard [growbeId]="data.mainboard.id"></app-virtual-relay-dashboard>
            </mat-tab>
            <mat-tab label="Command">
              <ngx-autotable [updateEmitter]="emitterMainboardChange" [columns]="actionsColumns" [source]="actionsSource"></ngx-autotable>
            </mat-tab>
            <mat-tab label="Parameters">
                <autoform-form [formData]="detailMainboardForm">
                </autoform-form>
            </mat-tab>
            <mat-tab label="Logs">
                <app-terminal [growbeId]="data.mainboard.id"></app-terminal>
            </mat-tab>
            <mat-tab label="Stream">
              <app-video-stream-page [growbeId]="data.mainboard.id"></app-video-stream-page>
            </mat-tab>
        </mat-tab-group>
    </fuseLayoutContent>

    <fuseLayoutSidebar>
        <fuse-widget
            [@animate]="{ value: '*', params: { y: '100%' } }"
            class="pb-0"
        >
            <div class="fuse-widget-front">
                <div>
                    <app-growbe-state [growbe]="data.mainboard"></app-growbe-state>
                </div>
            </div>
        </fuse-widget>
        <fuse-widget
            [@animate]="{ value: '*', params: { y: '100%' } }"
            class="pb-0"
        >
            <div class="fuse-widget-front">
                <div>
                    <app-growbe-local-connection *ngIf="data.mainboard.growbeMainboardConfig?.localConnection" [localConnection]="data.mainboard.growbeMainboardConfig.localConnection"></app-growbe-local-connection> 
                </div>
            </div>
        </fuse-widget>

    </fuseLayoutSidebar>
</project-dashboard>