<ng-container *ngIf="growbe">
<div>
  <app-growbe-status-dot [growbe]="growbe"></app-growbe-status-dot>
</div>
<div style="text-align: center;" class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
  <div class="h1 secondary-text">
    <span>{{ growbe.lastUpdateAt.rtc | date: "MMMM" }}</span>
  </div>

  <div style="text-align: center;" class="font-size-72 line-height-88 secondary-text font-weight-400">
    {{ growbe.lastUpdateAt.rtc | date: "d" }}
  </div>

  <div style="text-align: center;" class="h1 secondary-text">
    <span>{{ growbe.lastUpdateAt.rtc | date: "y" }}</span>
  </div>

  <div style="text-align: center;" class="h3" [ngClass]="pulsingText" (animationend)="pulsingText.pulsing=false">{{growbe.lastUpdateAt.rtc | date: 'EEEE, HH:mm:ss'}}</div>
</div>

</ng-container>
