<div class="full" fxLayout="column" fxLayoutAlign="center center">
  <div class="frow wrap around full">
    <div class="fcol content" *ngFor="let display of contentDisplays; index as i">
      <span *ngIf="moduleDef | async as md">
        {{ md | modulePropertie: graphDataConfig.fields[i] }}
      </span>
      <div class="fcol">
        <span class="mat-display-2 m-0 font-weight-300 secondary-text">
          <template-content *ngIf="valueObject" [context]="valueObject" [content]="display"></template-content>
        </span>
      </div>
      <div class="flex align-center justify-center diff">
        <ng-container *ngIf="lastValue && (value[graphDataConfig.fields[i]] && value[graphDataConfig.fields[i]] !== -1)">
          <span>
            <mat-icon *ngIf="lastValue[graphDataConfig.fields[i]] > value[graphDataConfig.fields[i]]" class="green-fg mr-4">trending_up</mat-icon>
            <mat-icon *ngIf="lastValue[graphDataConfig.fields[i]] < value[graphDataConfig.fields[i]]" class="red-fg mr-4">trending_down</mat-icon>
            <mat-icon *ngIf="lastValue[graphDataConfig.fields[i]] === value[graphDataConfig.fields[i]]">trending_flat</mat-icon>
          </span>
          <span>
            {{lastValue[graphDataConfig.fields[i]] - value[graphDataConfig.fields[i]] | number}}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="frow full align-center">
    <app-outdated-value *ngIf="at" [connected]="connected | async" [createdAt]="at"></app-outdated-value>
  </div>
</div>
