<ng-container *ngIf="connected !== undefined">
  <mat-chip-list [disabled]="pendingConfig?.mode == 2" aria-label="Fish selection">
    <mat-chip (click)="onModeChange(0)" [selected]="pendingConfig?.mode === 0 || pendingConfig?.mode === undefined">
      <mat-icon>power</mat-icon>
      Manual
    </mat-chip>
    <mat-chip (click)="onModeChange(1)" [selected]="pendingConfig?.mode === 1">
      <mat-icon>alarm</mat-icon>
      Alarm
    </mat-chip>
    <mat-chip (click)="onModeChange(3)" [selected]="pendingConfig?.mode === 3">
      <mat-icon>timer</mat-icon>
      Cycle
    </mat-chip>
  </mat-chip-list>

  <div class="frow full container">
    <div class="control" [ngSwitch]="pendingConfig?.mode">
      <ng-container *ngSwitchCase="3">
        <autoform-form [formData]="formConfigProperty"></autoform-form>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <p>ressource in owned by actor</p>
        <p>Delete the ressource if you want to configure this relay</p>
      </ng-container>

      <ng-container *ngSwitchCase="1">
        <autoform-form [formData]="formConfigProperty"></autoform-form>
      </ng-container>

      <ng-container *ngSwitchDefault="">
        <div class="hull flex justify-center align-center">
          <div>
            <mat-slide-toggle [disabled]="requestConfig || connected" [checked]="value" (change)="onSlideState($event)"></mat-slide-toggle>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex justify-center align-center value">
      <mat-icon>
        {{value ? 'power' : 'power_off'}}
      </mat-icon>
    </div>
  </div>

</ng-container>

