[SERVICE]
    flush     1
    log_level info

[INPUT]
    name      systemd
    Tag       host.*
    Systemd_Filter _SYSTEMD_UNIT=growbe-mainboard@{{=it.env}}.service
    Read_From_Tail On

[INPUT]
    name thermal
    tag thermal

    interval_sec 10

[INPUT]
    name cpu
    tag  cpu.local

    labels input=cpu
    interval_sec 10

[OUTPUT]
    name                   loki
    match                  *
    host                   loki.growbe.ca
    port                   443
    tls                    On
    tls.verify             Off
    labels                 job=fluentbit_mainboard, id={{=it.id}}, message=$MESSAGE,cpu_p=$cpu_p,name=$name
    auto_kubernetes_labels on
