[SERVICE]
    flush     1
    log_level info

[INPUT]
    name      systemd
    Tag       host.*
    Systemd_Filter _SYSTEMD_UNIT=growbe-mainboard@{{=it.env}}.service
    Read_From_Tail On

[OUTPUT]
    name                   loki
    match                  *
    host                   loki.growbe.ca
    port                   443
    tls                    On
    tls.verify             Off
    labels                 job=fluentbit_mainboard, id={{=it.id}}, message=$MESSAGE
    auto_kubernetes_labels on
