<ng-template #status let-context="context">
    <app-growbe-status-dot [state]="context.state"></app-growbe-status-dot>
</ng-template>

<ng-template #options let-context="context">
    <button
        mat-stroked-button
        class="accent"
        [routerLink]="['/', 'growbe', context.id]"
    >
        Detail
    </button>
</ng-template>

<div>
    <ngx-autotable
        [columns]="columns"
        [source]="source"
        [where]="where"
        [includes]="includes"
    >
    </ngx-autotable>
</div>
