.start-calibration-box {
    padding: 10px;
}


growbe-module-svg {
    display: block;
    width: 300px;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
        width: 100px;
        margin-left: 5px;
    }
}
