<login style="width: 100%">
    <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
        <mat-stepper linear #stepper>
            <mat-step>
                <ng-template matStepLabel>Calibration</ng-template>
                <div>
                    <div>
                        <h3>Starting process for : <strong>{{growbeId}} - {{moduleId}}</strong> </h3>
                    </div>

                    <div>
                        <p>
                            For this process you will need to calibrate the probe to the water and to the air, this
                            will be use for a base to calculate the value in pourcentage. Click next when you are ready
                            to start.
                        </p>
                    </div>
                </div>
                <div class="truc">
                    <div class="button-row">
                        <div>
                            <button mat-stroked-button class="accent" matStepperNext>Next</button>
                        </div>
                        <div>
                            <button mat-stroked-button class="primary" routerLink="/growbe/{{growbeId}}/module/{{moduleId}}">Cancel</button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Low calibration</ng-template>
                <div>
                    <p>This is the low calibration , you must put your probe in water, when they are in water you can start</p>


                    <div>

                    </div>


                    <div>
                        <button>Start</button>
                        <button>Stop</button>
                    </div>
                </div>
                <div class="truc">
                    <div class="button-row">
                        <div>
                            <button mat-stroked-button class="accent" [disabled]="!process.valuesLow || process.valuesLow.length == 0" matStepperNext>Next</button>
                            <button mat-stroked-button class="primary">Previous</button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>High calibration</ng-template>
                <div>
                    <span></span>
                </div>
                <div class="truc">
                    <div class="button-row">
                        <div>
                            <button mat-stroked-button class="accent" routerLink="/growbe">To my growbe</button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Confirmation of config</ng-template>
                <div>
                    <span></span>
                </div>
                <div class="truc">
                    <div class="button-row">
                        <div>
                            <button mat-stroked-button class="accent" routerLink="/growbe">To my growbe</button>
                        </div>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
        <router-outlet></router-outlet>
    </fuse-widget>

</login>