<div class="fcol full">
    <div class="frow wrap pad">
        <h1>
           Default dashboard
        </h1>
        <span></span>
        <span class="spacer"></span>
        <mat-chip-listbox class="flex align-center">
            <ng-container *ngIf="moduleDashboardDef.type === 'observer'; else actor">
                <mat-chip-option [selected]="currentChip == 'data'" (click)="setDataPanel()">
                    Data
                </mat-chip-option>
                <mat-chip-option [selected]="currentChip == 'graph'" *ngIf="moduleDashboardDef.haveGraph" (click)="setGraphPanel()">
                    Graph generator
                </mat-chip-option>
                <mat-chip-option [selected]="currentChip == 'alarm'" (click)="setAlarmPanel()">
                    Alarm
                </mat-chip-option>
            </ng-container>
            <ng-template #actor>
                <mat-chip-option [selected]="currentChip == 'control'" (click)="setControlPanel()">
                    Control
                </mat-chip-option>
            </ng-template>
           <mat-chip-option [selected]="currentChip == 'config'" (click)="setConfigPanel()">
                Configuration
            </mat-chip-option>
            <mat-chip-option [selected]="currentChip == 'logs'" (click)="setLogsPanel()">
                Logs
            </mat-chip-option>
        </mat-chip-listbox>
    </div>

    <app-dashboard-panel
        [static]="true"
        [panel]="panel$ | async"
    ></app-dashboard-panel>
</div>
