<ng-container *ngIf="data">
<ngx-charts-line-chart *ngIf="data.graphType == 'line'"
  [animations]="chart.animations"
  [rangeFillOpacity]="chart.rangeFillOpacity"
  [legend]="(chart.legend) ? chart.legent : false"
  [legendTitle]="chart.legendTitle"
  [legendPosition]="chart.legendPosition"
  [showLAbels]="chart.showLabels"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxis]="chart.xAxis"
  [yAxis]="chart.yAxis"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [yScaleMax]="chart.yScaleMax"
  [yScaleMin]="chart.yScaleMin"
  [xScaleMax]="chart.xScaleMax"
  [xScaleMin]="chart.xScaleMin"
  [trimXAxisTicks]="chart.trimXAxisTicks"
  [trimYAxisTicks]="chart.timeYAxisTicks"
  [maxXAxisTickLength]="chart.maxXAxisTickLength"
  [maxYAxisTickLength]="chart.maxYAxisTickLength"
  [rotateXAxisTicks]="(chart.rotateXAxisTicks) ? chart.rotateXAxisTicks : true"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains"
  [gradient]="chart.gradient"
  [timeline]="chart.timeline"
  [referenceLines]="chart.referenceLines"
  [showRefLines]="true"
  [showRefLabels]="true"
  [results]="chartSerie"></ngx-charts-line-chart>

<ngx-charts-bar-vertical-2d *ngIf="data.graphType == 'bar-vertical'"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxis]="chart.xAxis"
  [yAxis]="chart.yAxis"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [yScaleMax]="chart.yScaleMax"
  [yScaleMin]="chart.yScaleMin"
  [xScaleMax]="chart.xScaleMax"
  [xScaleMin]="chart.xScaleMin"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [results]="chartSerie"
>
</ngx-charts-bar-vertical-2d>
</ng-container>
