<fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" class="pb-0">
    <div class="fuse-widget-front">
        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="end">
            <span fxFlex="100">{{ dashboardItem?.name }}</span>
            <button
                mat-icon-button
                aria-label="more"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item fuseWidgetToggle>Options</button>
                <button
                    mat-menu-item
                    appDashboardItemRegistryCopy
                    [item]="copyForm"
                >
                    Copy
                </button>
                <button mat-menu-item>Editer</button>
                <button mat-menu-item>Supprimé</button>
            </mat-menu>
        </div>
        <div>
            <ng-template
                [appDashboardItemContent]
                [dashboardItem]="dashboardItem"
            ></ng-template>
        </div>
    </div>
    <div class="fuse-widget-back" fusePerfectScrollbar>
        <button fuseWidgetToggle>cancel</button>
    </div>
</fuse-widget>

<autoform-form *ngIf="formData" #copyForm [formData]="formData"></autoform-form>
