@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.core();

$fuse-white: (
    500: white,
    contrast: (
        500: rgba(black, 0.87),
    ),
);

$fuse-black: (
    500: #231f20,
    contrast: (
        500: white,
    ),
);

$fuse-accent: (
    50: #e7f0e4,
    100: #c3d8bd,
    200: #9cbf91,
    300: #74a564,
    400: #569143,
    500: #387e22,
    600: #32761e,
    700: #2b6b19,
    800: #246114,
    900: #174e0c,
    A100: #95ff85,
    A200: #69ff52,
    A400: #3eff1f,
    A700: #28ff05,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$fuse-primary: (
    50: #e7e7e7,
    100: #c2c2c2,
    200: #999999,
    300: #707070,
    400: #525252,
    500: #333333,
    600: #2e2e2e,
    700: #272727,
    800: #202020,
    900: #141414,
    A100: #ef6e6e,
    A200: #ea4040,
    A400: #f60000,
    A700: #dd0000,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: white,
        A400: white,
        A700: white,
    ),
);

$custom_palettes: (
    fuse-white: $fuse-white,
    fuse-black: $fuse-black,
    fuse-accent: $fuse-accent,
    fuse-primary: $fuse-primary,
);

$default-primary-palette: mat.define-palette($fuse-primary);
$default-accent-palette: mat.define-palette($fuse-accent, 600, 400, 700);
$default-warn-palette: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $default-primary-palette,
   accent: $default-accent-palette,
   warn: $default-warn-palette,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core-theme($my-theme);

@include fuse-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat.define-legacy-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat.define-typography-level(20px, 32px, 600),
    $body-2: mat.define-typography-level(14px, 24px, 600),
    $button: mat.define-typography-level(14px, 14px, 600),
    $input: mat.define-typography-level(16px, 1.125, 400),
);

// Setup the typography
//@include mat.all-legacy-component-typographies($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import 'node_modules/@berlingoqc/fuse-extra/scss/toolbar.theme';

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-growbe {
    // Create an Angular Material theme from the $theme map
    @include mat.all-component-themes($my-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($my-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette,
    );

    @include fuse-color-classes($palettes);
}
