<carded-fullwidth-1>
    <fuseLayoutHeader class="full frow">
        <autoform-form [formData]="autoFormData"></autoform-form>
    </fuseLayoutHeader>
    <fuseLayoutToolbar class="full">
        <div class="full frow jend">
            <div>
                <button [routerLink]="(value.mode == 'org') ? ['/register/org', value.extra]: ['/register']" mat-mini-fab><mat-icon>add</mat-icon></button>
            </div>
        </div>
    </fuseLayoutToolbar>
    <app-growbe-table [source]="source"></app-growbe-table>
</carded-fullwidth-1>
