

<markdown ngPreserveWhitespaces>
## Welcome to Growbe Cloud

This is the default dashboard to welcome you into the site.
The home page is dedicated to your favorite dashboard.
To select one , pressed the hearth icon in the `Dashboards`
section of the website.

You can import dashboard widget from anywhere in the site
using the triple dot icon to open the item menu and select
copy to copy the dashboard widget in the panel of one
of your dashboard.

After you can use the same icon inside your dashboard to
edit the dashboard widgets property.

</markdown>