
.hidden {
  display: none !important;
}

.ok {
  fill: green !important;
}

.unknow {
  fill: grey !important;
}

.disconnected {
  fill: black !important;
}

.outdated {
  fill: orange !important;
}


.pulse-circle {
	transform: scale(1);
  transform-origin: unset;
}
