<div class="container">
    <div class="icon">
        <mat-icon>wifi</mat-icon>
        <span>{{localConnection.signalLevel}}dB</span>
    </div>

    <div class="info">
        <div>
            <span class="ssid">{{localConnection.ssid}}</span>
        </div>

        <div>
            <span class="ip">{{localConnection.ipAddr}}</span>
        </div>
    </div>
</div>
<app-outdated-value [validFor]="1000 * 60 * 60 * 24" [createdAt]="localConnection.updatedAt" [connected]="true"></app-outdated-value>
